<h1>Display your Pirate here</h1>
<h2> <%=  @pirate.name  %> </h2>
<h2> <%=  @pirate.height  %> </h2>
<h2> <%=  @pirate.weight  %> </h2>

<h2>Display your first ship here</h2>
<h2> <%=  @ships[0].name  %> </h2>
<h2> <%=  @ships[0].type  %> </h2>
<h2> <%=  @ships[0].booty  %> </h2>

<h2>Display your second ship here</h2>
<h2> <%=  @ships[1].name  %> </h2>
<h2> <%=  @ships[1].type  %> </h2>
<h2> <%=  @ships[1].booty  %> </h2>
